#list{
margin: 25px 200px 25px 0px;
border-style: ridge;
border-color: rgb(180, 184, 180)
background : red;
}

}
.popup-overlay {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Dim background */
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it's on top */
}

.popup-overlay.show {
  display: flex; /* Show when 'show' class is added */
}

.popup-content {
  background-color: rgb(244, 251, 252);
  padding: 100px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(22, 22, 22, 0.2);
}